html, body {
    margin: 20px;
    background-color: #CCC6B3;
}

#description {
    background-color: #E6D299;
    width: 100%;
    color: black;
    font: bold 150% serif;
    text-align: center;
    margin-top: 15px;
}

#form {
    background-color: #d0f0c0;
    margin-top: 15px;
    padding: 5px;
}

#content {
    background-color: white;
    margin-top: 15px;
    padding: 5px;
}

#inputField {
    width: 90%;
} 

#submitButton {

} 
