doctype html
html

    head
        script(src="http://code.jquery.com/jquery-1.10.1.min.js")
        link(href="main.css", rel="stylesheet")


    body

        div#description
            p: a(href="https://github.com/starikan/diffbot-JS-API-test") All Sources Here!

        div#form
            input#inputField(type="text", value="http://google.com")
            input#submitButton(type="submit", value="DiffBot")

        div#content
            p JSON

        script(src="adds.js")
        script(src="diffbot.js")
        script(src="main.js")
